/*---------------------------------------------------root style compnents */
@font-face {
  font-family: donemain;
  src: url("/terminal-grotesque.ttf");
}
@font-face {
  font-family: donesecondary;
  src: url("/Eirian.ttf");
}
/*
vaadin-combo-box-item{
    border: 1px;
    border-style: solid;
    border-color: black;
    font-family:donesecondary;
    color: black;
    pointer-events: none;
}
*/
.notification::part(overlay){
    background-color: black;
    color: white;
    font-family:donesecondary;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.textfield{
    font-family: donesecondary;
    border-color: #c47cd4;
    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-border-color: black;
    --vaadin-input-field-placeholder-color: black;
    --vaadin-input-field-value-color: black;
    --vaadin-input-field-label-color: black;
    --vaadin-input-field-focused-label-color: red;
    --vaadin-input-field-background: transparent;
    --vaadin-input-field-hover-highlight: red;
}
.textfield-white{
    font-family: donesecondary;
    border-color: #white;
    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-border-color: white;
    --vaadin-input-field-placeholder-color: white;
    --vaadin-input-field-value-color: white;
    --vaadin-input-field-label-color: white;
    --vaadin-input-field-focused-label-color: red;
    --vaadin-input-field-background: transparent;
    --vaadin-input-field-hover-highlight: red;
}
.buttonprimary{
   --lumo-primary-color:black;
    background-color: transparent;
    color: black;
    font-family: donemain;
    border: 1px;
    border-style: solid;
    border-color: black;
}
.buttonprimary[focused]{
   background-color: red;
}
Text{
    font-family: donesecondary;
    color: black;
    font-size: 2rem;
}
.buttonprimary-white{
    --lumo-primary-color:white;
    background-color: transparent;
    color: white;
    font-family: donemain;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.buttonbig{
    font-family: donemain;
    font-size: 3rem;
    background-color: transparent;
    color: black;
}
.buttonsecondary{

}
H3{
    font-family: donesecondary;
    color: black;
}
H6{
    font-family: donesecondary;
    color: black;
}
H4{
    font-family: donemain;
    color: black;
}
.tasklayout{
    background-color: white;
    border: 1px;
    border-style: solid;
    margin: 10px;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    cursor:crosshair;
}
.listtask{
    overflow: hidden;
}
.listtask-border{
    overflow: hidden;
    border: solid 1px black;
}
 .aim-grid{
     background-color: black;
     border-style: solid;
     border: 1px;
     border-color: white;
 }
 .aim-grid::part(cell){
     background-color: black;
     color: white;
     font-family: aim_main;
 }
 .aim-grid::part(header-cell){
     background-color: black;
     color: white;
     font-family: aim_main;
 }
 .done-task-details-window-layout H3{
    font-family: donemain;
    color: white;
 }
.done-task-details-window-layout H6{
    font-family: donesecondary;
    color:white;
}
/*---------------------------------------------------components styles */
.logincomponent{

}
.memoriesdetails{
    font-family: donesecondary;
    color: black;
    border: solid 1px black;
}
.time-box-details{
    font-family: donesecondary;
    color: black;
    border: solid 1px black;
}
.logincomponent H1{
    font-family: donemain;
    font-size: 7rem;
}
.logincomponent H6{
    font-family: donesecondary;
}
.header{

}
.textfield-insertwindow{
    font-family: donemain;
    font-size: 7rem;
}
.header H4{
    font-family: donesecondary;
    color: black;
}
.done-task-details-window::part(overlay){
    background-color: black;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}
.done-task-details-window::part(backdrop){
     background-color: transparent;
 }
 .done-task-details-window-white::part(overlay){
    background-color: white;
    color: black;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
.done-task-details-window-white::part(backdrop){
     background-color: transparent;
 }
.done-task-details-window H6{
    font-family: donesecondary;
    color:white;
}
.done-task-details-window H3{
    font-family: donesecondary;
    color:white;
}
.memorylayout{
    border: solid 1px black;
    cursor: grab;
}
.memorylayout H6{
    font-family: donesecondary;
    color: black;
    margin: 10px;
}
/*---------------------------------------------------views aka pages styles*/
.loginview{
    background-color: white;
}
.taskview{
    background-color: white;
}
.taskview H1{
    font-family:donemain;
    color: black;
}